<div id="welcome-container">
  <div id="welcome-title">Willkommen!</div>
  <div id="welcome-subtitle">
    Um unsere Gäste zu empfangen verwenden wir digitale Gästeausweise.<br />
    Diese basieren auf selbstbestimmen Identitäten auch Self-Sovereign Identity, kurz: SSI genannt.
  </div>

  <div *ngIf="isFirstStepActive" id="first-step">
    <div class="step-counter">1/2</div>
    <div class="step-title">Was Sie zu Anfang benötigen</div>
    <div id="first-step-items">
      <div class="first-step-item space-right">
        <div class="first-step-item-icon">
          <mat-icon aria-hidden="false" aria-label="smart-phone" class="material-icons-outlined">smartphone</mat-icon>
        </div>
        <div class="first-step-item-title">Smartphone</div>
        <div class="first-step-item-description">
          Sie benötigen ein NFC fähiges Smartphone. Die meisten neueren Android Smartphones, sowie iPhone 6 oder neuer
          sind unterstützt.
        </div>
      </div>
      <div class="first-step-item">
        <div class="first-step-item-icon">
          <mat-icon aria-hidden="false" aria-label="physical-id" class="material-icons-outlined"> badge</mat-icon>
        </div>
        <div class="first-step-item-title">Personalausweis</div>
        <div class="first-step-item-description">
          Sie benötigen Ihren physischen Personalausweis sowie entweder Ihren 5-Stelligen "Transport-PIN" oder Ihren 6-
          stelligen "Ausweis-PIN".
        </div>
      </div>
      <div class="first-step-item space-around">
        <div class="first-step-item-icon">
          <mat-icon aria-hidden="false" aria-label="wallet-app" class="material-icons-outlined"
            >account_balance_wallet</mat-icon
          >
        </div>
        <div class="first-step-item-title">Wallet App</div>
        <div class="first-step-item-description">
          Sie benötigen die "ID Wallet" App aus dem Apple App Store oder dem Google Play Store.
        </div>
      </div>
      <div class="first-step-item">
        <div class="first-step-item-icon">
          <mat-icon aria-hidden="false" aria-label="base-id">fingerprint</mat-icon>
        </div>
        <div class="first-step-item-title">Basis-ID</div>
        <div class="first-step-item-description">
          Mit Ihrem Personalausweis müssen Sie ich in der "ID Wallet" App eine Basis-ID anlegen. Dazu folgen Sie bitte
          den Anweisungen in der App.
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isFirstStepActive" id="second-step">
    <div class="step-counter">2/2</div>
    <div class="step-title">Welche Vorteile hat dies für Sie?</div>
    <div id="second-step-list">
      <div class="item">
        <mat-icon aria-hidden="false" aria-label="wallet-app" class="material-icons-outlined">alarm</mat-icon>
      </div>
      <div class="item">
        Sie profitieren von einem schnelleren Ablauf beim Empfang. Dies ist in etwa vergleichbar mit dem Nutzen einer
        "Fast-Lane".
      </div>
      <div class="item">
        <mat-icon aria-hidden="false" aria-label="wallet-app" class="material-icons-outlined">badge</mat-icon>
      </div>
      <div class="item">
        Das Ökosystem wird ständig erweitert. Sie werden Ihre Basis-ID in Zukunft für weitere Anwendungsfälle nutzen
        können. Zum Beispiel beim Hotel Check-In
      </div>

      <div class="item">
        <mat-icon aria-hidden="false" aria-label="wallet-app" class="material-icons-outlined">topic</mat-icon>
      </div>
      <div class="item">
        Sie tragen aktiv zu dem digitale Identitäten Program des Bundeskanzleramtes bei und beschleunigen die
        Digitalisierung von Ausweisdokumenten in Deutschland bei.
      </div>

      <div class="item">
        <mat-icon aria-hidden="false" aria-label="wallet-app" class="material-icons-outlined">park</mat-icon>
      </div>
      <div class="item">Nachhaltigkeit: Sie leisten einen Beitrag zur Papiervermeidung.</div>

      <div class="item">
        <mat-icon aria-hidden="false" aria-label="wallet-app" class="material-icons-outlined">lock</mat-icon>
      </div>
      <div class="item">Sie erlangen mehr Kontrolle über Ihre Daten, Ihre Privatsphäre und Datensicherheit.</div>

      <div class="item">
        <mat-icon aria-hidden="false" aria-label="wallet-app" class="material-icons-outlined">mobile_friendly</mat-icon>
      </div>
      <div class="item">
        Ihre Daten werden sicher direkt auf Ihrem Smartphone gespeichert und stehen nur Ihnen jederzeit zur Verfügung.
      </div>
    </div>
  </div>

  <div id="nav-container">
    <div id="circle-container">
      <div class="circle" [ngClass]="isFirstStepActive ? 'dark-gray-fill' : 'light-gray-fill'"></div>
      <div class="circle" [ngClass]="!isFirstStepActive ? 'dark-gray-fill' : 'light-gray-fill'"></div>
    </div>
    <mat-checkbox *ngIf="isFirstStepActive" color="primary" (change)="goToQRCode($event.checked)">
      Ich bestätige, dass ich die Vorraussetzungen erfülle.
    </mat-checkbox>
    <button
      *ngIf="isFirstStepActive"
      mat-flat-button
      [disabled]="!isConfirmCheckboxChecked"
      [ngClass]="isConfirmCheckboxChecked ? 'button-primary' : 'button-primary disabled'"
      (click)="nextStep()"
    >
      WEITER
    </button>
    <button
      *ngIf="!isFirstStepActive"
      color="primary"
      mat-flat-button
      class="button-primary"
      (click)="goToAccreditation()"
    >
      START
    </button>
  </div>
  <hr />
  <div class="support">
    Sie haben weitere Fragen? <span class="support-link">FAQ</span> <br />
    Sie benötigen weitere Hilfe? <span class="support-link">Support</span>
  </div>
</div>
