<div class="gdrp-part">
  <mat-checkbox color="primary" (change)="onGDPRChecked($event.checked)"> </mat-checkbox>
  <div class="gdpr-text">
    Mit dem Aktivieren des Kontrollkästchen willigens Sie in die in den Datenschutzhinweisen beschriebene Verarbeitung
    Ihrer personenbezogenen Daten durch die DB Systel GmbH zum Zweck der Teilnahme am Pilotprojekt „Self Sovereign
    Identity (SSI) Managementsystem - Pilot“ ein. Die DB Systel GmbH, Jürgen-Ponto-Platz 1, 60329 Frankfurt am Main
    erhebt und verarbeitet Ihre Daten als Verantwortlicher. Nach Abschluss des Pilotprojektes werden alle
    personenbezogenen Daten gelöscht, die aufgrund dieser Einwilligung verarbeitet wurden. Die Einverständniserklärung
    kann jederzeit ohne Angabe von Gründen widerrufen werden. Im Falle des Widerrufs Ihrer Einwilligung werden alle
    personenbezogenen Daten gelöscht, die aufgrund dieser Einwilligung verarbeitet wurden. Die Teilnahme am Pilotprojekt
    ist freiwillig. Ohne eine Einwilligung in die Datenverarbeitung kann eine Teilnahme nicht erfolgen. Weitere
    Informationen, insbesondere zu Umfang und Zweck der Datenverarbeitung, finden Sie in unseren
    <span class="link">Datenschutzhinweisen</span>.
  </div>
</div>

<div class="qr-code-container">
  <div class="qr-code">
    <div [class.hidden]="!showQRCode" #qrcode></div>
  </div>
  <div class="qr-code-title">Scannen sie diesen QR Code um Ihre Identität zu bestätigen.</div>
</div>
