@import '../../../../../../styles/variables';

.gdrp-part {
  display: flex;

  mat-checkbox {
    display: block;
    color: $color-grey-2;
  }

  .gdpr-text {
    margin-left: 20px;
    text-align: left;

    .link {
      color: $color-blue;
    }
  }
}

hr {
  margin: 40px auto 24px;
  width: 100%;
}

::ng-deep {
  .mat-checkbox-checked .mat-checkbox-ripple .mat-ripple-element {
    background-color: $color-grey-2-opacity-30 !important;
  }

  .mat-checkbox-checked .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $color-blue !important;
  }
}

.qr-code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 53px;

  .qr-code-title {
    margin-top: 32px;
    color: $color-dark;
    font-size: $font-size-24;
    font-weight: $font-weight-100;
    text-align: center;
  }

  .qr-code {
    width: 300px;
    height: 300px;
    border: 1px solid $color-grey-2;
    border-radius: 6px;
    background-color: $color-white;
  }
}

.hidden {
  display: none;
}
