@import '../../../../../styles/variables';

.accreditation {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  .progress-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
    max-width: 100%;
    width: 581px;
    margin-bottom: 30px;

    .circle {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 80px;
      width: 80px;
      background-color: $color-white;
      color: $color-dark;
      border-radius: 50%;
      border: 1px solid $color-grey-2;
      transition: 0.4s ease;
    }

    .circle-caption {
      position: absolute;
      margin-top: 120px;
    }

    .circle.active {
      background-color: $color-grey-2;

      .circle-label {
        color: $color-white;
        font-size: $font-size-16;
        font-weight: $font-weight-600;
      }
    }
  }

  .progress-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 1px;
    width: 100%;
    background-color: $color-grey-1;
    z-index: -1;
  }

  .progress {
    position: absolute;
  }

  .hide {
    display: none;
  }

  hr {
    margin: 18px auto 24px;
    width: 100%;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 25px;

    .next-button {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 42px;
      width: 85px;
      border: 1px solid $color-grey-2;
      border-radius: 6px;
      color: $color-grey-2;
      background-color: $color-white !important;
    }

    .button-hide {
      visibility: hidden;
    }
  }

  app-verification,
  app-confirmation,
  app-visit-and-guest-details {
    width: 88.8888888889vw;
  }
}
