<div class="status-container">
  <div class="status-title">
    {{ getStatusTitle() }}
  </div>
  <div class="status-description">
    {{ getStatusDescription() }}
  </div>
  <a mat-flat-button [disableRipple]="true" id="add-another-guest" (click)="goToAddGuest()">
    <mat-icon aria-hidden="false" aria-label="Add another guest">add</mat-icon>
    Weiteren Gast hinzufügen
  </a>
  <button type="button" mat-flat-button color="primary" id="navigate-to-dashboard" (click)="goToDashboard()">
    Zurück zur Übersicht
  </button>
</div>
