$off-grid-spacing: 5.5555555556%;

$color-white: #ffffff;
$color-light-1: #f2f2f2;
$color-grey-1: #979797;
$color-grey-2: #707070;
$color-grey-2-opacity-30: #70707030;
$color-grey-3: #7a7a7a;
$color-grey-4: #c9c9c9;
$color-gray-4-opacity-30: #c9c9c930;
$color-green: #00b700;
$color-blue: #1828d7;
$color-dark: #171717;
$color-black: #000000;

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-30: 30px;
$font-size-48: 48px;
$font-size-56: 56px;
$font-size-124: 124px;

$font-weight-100: 100;
$font-weight-300: 300;
$font-weight-500: 500;
$font-weight-600: 600;
