<a mat-flat-button [disableRipple]="true" id="back-button"
  ><mat-icon aria-hidden="false" aria-label="Back to overview">chevron_left</mat-icon>BACK</a
>
<hr />
<div class="upload-container">
  <div class="column column-left">
    <h1>Bulk Upload</h1>
    <p>You can bulk submit employee data by uploading a .csv file that has all the relevant fields to the right.</p>
  </div>
  <app-upload (csvFileUploaded)="onCSVUpload($event)"></app-upload>
</div>
<hr />
<app-employee-form
  (submitForm)="handleEmployeeCreation($event)"
  [initialValue]="{
    firstName: '',
    lastName: '',
    primaryPhone: '',
    secondaryPhone: '',
    title: '',
    email: '',
    employeeStatus: '',
    employeeRole: ''
  }"
></app-employee-form>
