<h1>{{ getHeaderText() }}</h1>
<p>{{ getStatusText() }}</p>

<ul>
  <li *ngFor="let employee of employees">
    <ng-container *ngIf="success">
      <div>
        <mat-icon aria-hidden="false" aria-label="checkmark-icon" title="checkmark-icon">done</mat-icon>
        <p>{{ employee.firstName }} {{ employee.lastName }}</p>
      </div>
      <p>{{ employee.email }}</p>
    </ng-container>
    <ng-container *ngIf="!success">
      <div>
        <mat-icon
          aria-hidden="false"
          aria-label="Error notification icon"
          title="Error notification icon"
          class="material-icons-outlined"
          >notifications_outlined</mat-icon
        >
        <p>Row X: {{ employee.firstName }} {{ employee.lastName }}</p>
      </div>
      <p>Incorrect</p>
    </ng-container>
  </li>
</ul>

<p *ngIf="!success">Note: No new employee credentials where created.</p>
<button type="button" *ngIf="success" mat-button [routerLink]="['../dashboard']" id="addEmployee">
  <mat-icon aria-hidden="false" aria-label="Add another employee" title="Add another employee">add</mat-icon>Add another
  employee
</button>
<button
  type="button"
  mat-flat-button
  color="primary"
  [disableRipple]="true"
  [routerLink]="['../dashboard']"
  id="navToOverview"
>
  Back to overview
</button>
