:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3.8125rem auto;
  width: 48.75%;
}

button {
  text-transform: uppercase;
}

#addEmployee {
  width: 14.3125rem;
  margin: 0 auto;
}

#navToOverview {
  width: 10.375rem;
  margin: 1.5rem auto 0;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

ul li div {
  display: flex;
  flex-direction: row;

  p {
    margin: 0;
  }
}
