@import '../../../../../../styles/variables';

hr {
  margin: 40px auto 24px;
  width: 100%;
}

.details-row {
  display: flex;
  flex-direction: row;

  .title {
    flex: 30%;
    color: $color-dark;

    .details-title {
      font-size: $font-size-20;
      font-weight: $font-weight-500;
    }

    .details-description {
      padding-right: 64px;
      font-size: $font-size-16;
      font-weight: $font-weight-300;
    }
  }
}

.form {
  flex: 70%;
}

.form,
.title {
  text-align: left;
}

.form-row {
  display: flex;
  justify-content: space-between;

  .form-row-item {
    width: 48%;
  }
}

.form-row-four {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .form-row-four-item {
    width: 20%;
  }
}

::ng-deep {
  mat-form-field-appearance-outline .mat-form-field-outline-end,
  .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-width: 1px !important;
    color: $color-grey-4 !important;
  }

  .mat-focused .mat-form-field-label {
    color: $color-grey-2 !important;
  }

  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $color-blue !important;
  }
}

mat-icon {
  color: $color-grey-2;
}

#submit-button {
  height: 42px;
  width: 234px;
  border-radius: 6px;
  border: 1px solid $color-grey-2;
  background-color: $color-blue;
  color: $color-white;
}

#submit-button:disabled {
  background-color: $color-grey-2 !important;
  cursor: not-allowed;
}
