<form [formGroup]="guestForm">
  <div class="details-row">
    <div class="title">
      <div class="details-title">Besuchsdetails</div>
      <div class="details-description">Bitte überprüfen Sie die Details Ihrer Einladung</div>
    </div>
    <div class="form">
      <div class="form-row">
        <mat-form-field appearance="fill" floatLabel="always" class="form-row-item">
          <mat-label>Ort / Gebäude</mat-label>
          <input matInput formControlName="location" id="location" />
        </mat-form-field>
      </div>
      <div class="form-row-four">
        <mat-form-field appearance="fill" floatLabel="always" class="form-row-four-item">
          <mat-label>Ankunftsdatum</mat-label>
          <input matInput formControlName="validFromDate" id="validFromDate" />
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always" class="form-row-four-item">
          <mat-label>Ankunftszeit</mat-label>
          <input matInput formControlName="validFromTime" id="validFromTime" />
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always" class="form-row-four-item">
          <mat-label>Abreisedatum</mat-label>
          <input matInput formControlName="validUntilDate" id="validUntilDate" />
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always" class="form-row-four-item">
          <mat-label>Abreisezeit</mat-label>
          <input matInput formControlName="validUntilTime" id="validUntilTime" />
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="fill" floatLabel="always" class="form-row-item">
          <mat-label>Eingeladen von</mat-label>
          <input matInput formControlName="issuedBy" id="issuedBy" />
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always" class="form-row-item">
          <mat-label>Besuchsgrund</mat-label>
          <input matInput formControlName="typeOfVisit" id="typeOfVisit" />
        </mat-form-field>
      </div>
    </div>
  </div>
  <hr />
  <div class="details-row">
    <div class="title">
      <div class="details-title">Gästeinformationen</div>
      <div class="details-description">
        Bitte überprüfen Sie Ihre persönlichen Daten und vervollständigen Sie diese.
      </div>
    </div>
    <div class="form">
      <div class="form-row">
        <mat-form-field appearance="fill" floatLabel="always" class="form-row-item">
          <mat-label>Titel</mat-label>
          <input matInput formControlName="title" id="title" />
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="fill" floatLabel="always" class="form-row-item">
          <mat-label>Vorname</mat-label>
          <input matInput formControlName="firstName" id="firstName" />
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always" class="form-row-item">
          <mat-label>Nachname</mat-label>
          <input matInput formControlName="lastName" id="lastName" />
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="fill" floatLabel="always" class="form-row-item">
          <mat-label>E-Mail-Adresse</mat-label>
          <input matInput formControlName="email" id="email" />
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always" class="form-row-item">
          <mat-label>Firma</mat-label>
          <input matInput formControlName="companyName" id="companyName" />
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="fill" floatLabel="always" class="form-row-item editable">
          <mat-label>Telefonnummer</mat-label>
          <input matInput formControlName="primaryPhoneNumber" id="primaryPhoneNumber" />
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="guestForm.controls.primaryPhoneNumber.hasError('phoneContainsForbiddenCharacters')">
            Die Telefonummer kann nur Zahlen sowie die folgenden Sonderzeichen enthalten: +, -, ()
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always" class="form-row-item editable">
          <mat-label>Alternative Telefonnummer</mat-label>
          <input matInput formControlName="secondaryPhoneNumber" id="secondaryPhoneNumber" />
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="guestForm.controls.secondaryPhoneNumber.hasError('phoneContainsForbiddenCharacters')">
            Die Telefonummer kann nur Zahlen sowie die folgenden Sonderzeichen enthalten: +, -, ()
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="fill" floatLabel="always" class="form-row-item editable">
          <mat-label>Firmenadresse</mat-label>
          <input matInput formControlName="companyStreet" id="companyStreet" type="text" maxlength="50" required />
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="guestForm.controls.companyStreet.hasError('maxLength')">
            Firmenadresse ist auf 50 Zeichen begrenzt
          </mat-error>
          <mat-error *ngIf="guestForm.controls.companyStreet.hasError('required')">
            Firmenadresse ist <strong>erforderlich</strong>
          </mat-error>
          <mat-error *ngIf="guestForm.controls.companyStreet.hasError('fieldContainsForbiddenCharacters')">
            Firmenadresse kann nur alphanumerische Zeichen sowie die folgenden Sonderzeichen enthalten: _ , . - &
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always" class="form-row-item editable">
          <mat-label>Ort der Firma</mat-label>
          <input matInput formControlName="companyCity" id="companyCity" type="text" maxlength="50" required />
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="guestForm.controls.companyCity.hasError('maxLength')">
            Ort der Firma ist auf 50 Zeichen begrenzt
          </mat-error>
          <mat-error *ngIf="guestForm.controls.companyCity.hasError('required')">
            Ort der Firma ist <strong>erforderlich</strong>
          </mat-error>
          <mat-error *ngIf="guestForm.controls.companyCity.hasError('fieldContainsForbiddenCharacters')">
            Ort der Firma kann nur alphanumerische Zeichen sowie die folgenden Sonderzeichen enthalten: _ , . - &
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="fill" floatLabel="always" class="form-row-item editable">
          <mat-label>Postleitzahl der Firma</mat-label>
          <input matInput formControlName="companyPostCode" id="companyPostCode" type="text" maxlength="50" required />
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="guestForm.controls.companyPostCode.hasError('maxLength')">
            Postleitzahl der Firma ist auf 50 Zeichen begrenzt
          </mat-error>
          <mat-error *ngIf="guestForm.controls.companyPostCode.hasError('required')">
            Postleitzahl der Firma ist <strong>erforderlich</strong>
          </mat-error>
          <mat-error *ngIf="guestForm.controls.companyPostCode.hasError('fieldContainsForbiddenCharacters')">
            Postleitzahl der Firma kann nur alphanumerische Zeichen sowie die folgenden Sonderzeichen enthalten: _ , . -
            &
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always" class="form-row-item editable">
          <mat-label>Nummerschildkennung</mat-label>
          <input matInput formControlName="licencePlateNumber" id="licencePlateNumber" />
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="guestForm.controls.licencePlateNumber.hasError('maxLength')">
            Nummerschildkennung ist auf 50 Zeichen begrenzt
          </mat-error>
          <mat-error *ngIf="guestForm.controls.licencePlateNumber.hasError('fieldContainsForbiddenCharacters')">
            Nummerschildkennung kann nur alphanumerische Zeichen sowie die folgenden Sonderzeichen enthalten: _ , . - &
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <hr />
  <button class="" id="submit-button" [disabled]="guestForm.invalid" (click)="submit()">SUBMIT</button>
</form>
