<div class="dropzone" appDragAndDrop (fileDropped)="onFileDropped($event)" (dropAreaActive)="onDropAreaActive($event)">
  <input type="file" #fileDropReference id="fileDropReference" (change)="fileSelectionHandler($event)" accept=".csv" />
  <ng-container *ngIf="!fileInDropArea; else dropFile">
    <p>You can drop .csv files here that contain employee details, or use the upload button below</p>
    <label for="fileDropReference" class="button-label">upload .csv file</label>
  </ng-container>
  <ng-template #dropFile>
    <p>Drop file here to upload</p>
  </ng-template>
</div>
