<div class="confirmation-page">
  <ng-container *ngIf="accreditationAccepted; else spinner">
    <div class="circle-done">
      <mat-icon>done</mat-icon>
    </div>
    <div class="title">Sie haben sich erfolgreich verifiziert!</div>
    <div class="description">
      Vielen Dank für die Benutzung unserer Gastakkreditierung. Ihr digitaler Gastausweis wurde erstellt and kann für
      den Check-In bei Ihrem Besuch genutzt werden. Wenn Sie am Empfang ankommen scannen Sie bitte den bereitgestellten
      QR-Code mit Ihrer “ID Wallet” App.
    </div>
  </ng-container>
  <ng-template #spinner>
    <div class="circle-pending">
      <mat-spinner></mat-spinner>
    </div>
    <div class="title">Bitte überprüfen Sie Ihren digitalen Gastausweis in Ihrer ID Wallet App</div>
  </ng-template>
</div>
